/* ============================================
   TEXT SELECTION STYLES
   ============================================ */

::selection {
  background-color: rgba(59, 130, 246, 0.4);
  color: inherit;
}

/* ============================================
   WEBVIEW STYLES
   ============================================ */

webview {
  width: 100%;
  height: 100%;
}
